APScheduler==3.6.3
backpack==0.1
blinker==1.5
cachetools==4.2.2
certifi==2022.12.7
cleo==0.6.8
Faker==0.8.18
inflection==0.3.1
lazy-object-proxy==1.8.0
music-tag==0.4.3
mutagen==1.46.0
orator==0.9.9
pastel==0.1.1
pendulum==1.5.1
persiantools==3.0.1
psutil==5.9.4
pyaml==16.12.2
Pygments==2.13.0
pylev==1.4.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-telegram-bot==13.15
pytz==2022.6
pytzdata==2020.1
PyYAML==5.4.1
simplejson==3.18.0
six==1.16.0
text-unidecode==1.2
tornado==6.1
tzlocal==1.5.1
wrapt==1.14.1
youtube-dl==2021.12.17
